@charset "uff-8";

.header h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}
.header {

    width:960px ;
    height: 70px;
    margin: auto 0px;
    text-align: center;
    background-color: aqua;
    font-size: 50px;

}



body{
background-image: url("Fm-e8IZagAA0rhH.jpg");
    background-size: cover;
    width: 1980px;
    height: 1115px;
    object-fit: contain;
}
.profile {
    color: black;
}

.main{
    float: right;
    margin: 0px 100px 100px 170px;
}
.photo {
    background-image: url("D1dWWYOVAAEAaAa.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 100px 100px 100px 300px; /*marginは左下上右の順で書く*/
}