@charset "uff-8";

.header h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}
.header {

    width:960px ;
    height: 70px;
    margin: auto 0px;
    text-align: center;
    background-color: aqua;
    font-size: 50px;

}



body{
background-image: url("お話しながらお絵かきする【_01】 - YouTube - 個人 - Microsoft​ Edge 2022_12_04 3_17_20.png");
    background-size: cover;
    width: 1280px;
    height: 720px;
    object-fit: contain;
}
.profile {
    color: black;
}

.main{
    color: black;
    float: right;
    margin: 0px 150px 100px 50px; /*marginは上右下左の順で書く*/
}
.photo {
    background-image: url("D1dWWYOVAAEAaAa.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 0px 600px 200px 50px; /*marginは上右下左の順で書く*/
}
.copy {
    color: black;
    text-align: center;
    margin: 0px 400px 0px 600px;
}